.entirePage {
    background-color: #303030;
}

.divWelcome{
    border-bottom-style: solid;
}

.welcome{
    float: left;
    padding: 1%;
    margin-top: 2%;
    margin-left: 13%;
    font-size: xxx-large;
}

.comments{
    display: "flex";
    padding: 10px;
    padding-top: 2.3%;
    background-color: #303030;
    height: 100vh;
}

.draftButton{
    float: right;
    padding: 1%;
    margin-top: 4%;
    margin-right: 12%;
}

.divArticle{
    padding: 2%;
    margin: 5%;
}

.indArticle{
    border-bottom-style: solid;
    padding: 5%;
}

.author{
    padding: 2%;
}

.body{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 2%;
}

.buttons{
    padding: 2%;
}

.edit{
    float: left;
    padding: 1%;
    margin-left: 3%;
}

.publish{
    float: right;
    padding: 1%;
    margin-right: 3%;
}

.divWriting{
    background-color: #303030;
}