.editorDiv{
    padding: 20px;
}

.Editor{
    float: left;
    width: 50%;
    padding: 10px;
}

.comments{
    float: right;
    width: 50%;
    padding: 10px;
    padding-top: 2.3%;
}

.button{
   float: right;
   
}