.editorDiv{
    padding: 20px;
    background-color: white;
    height: 100vh;
}

.Editor{
    
    width: 50%;
    padding: 10px;
}

.comments{
    
    width: 50%;
    padding: 10px;
    padding-top: 2.3%;
}

.button{
   float: right;
   
}